.container {
    width: 600px;
    height: 400px;
    background-image: url(img/bg.jpg);
    position: relative;
}

.planets {
    position: absolute;
}

.planet-1{
    top: 23px;
    left: 186px;
    z-index: 1;
}
.planet-2 {
    top: 66px;
    left: 50px;
    z-index: 2;
}
.planet-3 {
    top: 139px;
    left: 145px;
    z-index: 4;
}

.asteroid {
    top: 80px;
    right: 110px;
}
.spaceship {
    top: 155px;
    left: 144px;
    z-index: 3;
}
.superman {
    bottom: 0;
    right: 36px;
}
.ufo {
    top: 293px;
    left: 117px;
    z-index: 5;
}