.btn {
    margin: 2px;
    color: white;
    border: none;
    padding: 5px;
}

.btn-confirm {
    background-color: lightseagreen;
}
.btn-exit {
    background-color: orange;
}

.text {
    background-color: rgba(80, 80, 79, 0.7);
    padding: 20px 50px;
    position: relative;
}

.modal-content {
    width: 350px;
    background-color: white;
    padding: 30px 15px 15px 15px;
    box-shadow: 8px 8px 8px grey;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.modal-close {
    width: 20px;
    height: 20px;
    background-color: transparent; 
    border: 2px solid white;
    border-radius: 100%;
    color: white;
    cursor: pointer;
    position: absolute;
    top: -20px;
    right: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
}